{% load static %}

<div class="blog_right_sidebar">
	<aside class="single_sidebar_widget search_widget">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Search Posts" />
			<span class="input-group-btn">
				<button class="btn btn-default" type="button">
					<i class="lnr lnr-magnifier"></i>
				</button>
			</span>
		</div>
		<!-- /input-group -->
		<div class="br"></div>
	</aside>
	<aside class="single_sidebar_widget author_widget">
		<img
			class="author_img img-fluid"
			src="{% static 'img/blog/author.png' %}"
			alt=""
		/>
		<h4>Charlie Barber</h4>
		<p>Senior blog writer</p>
		<p>
			Boot camps have its supporters andit sdetractors. Some people do not
			understand why you should have to spend money on boot camp when you can
			get. Boot camps have itssuppor ters andits detractors.
		</p>
		<div class="social_icon">
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-github"></i></a>
			<a href="#"><i class="fa fa-behance"></i></a>
		</div>
		<div class="br"></div>
	</aside>
	<aside class="single_sidebar_widget popular_post_widget">
		<h3 class="widget_title">Popular Posts</h3>
		{% for post in top_posts %}
		<div class="media post_item">
			<img src="{{ post.thumbnail.url }}" width="100" alt="post" />
			<div class="media-body">
				<a href="{{ post.get_absolute_url }}"
					><h3>{{ post.title }}</h3></a
				>
				<p> {{post.how_old_post_is}}</p>
			</div>
		</div>
		{% endfor %}
		<div class="br"></div>
	</aside>
	<aside class="single-sidebar-widget newsletter_widget">
		<h4 class="widget_title">Newsletter</h4>
		<div class="form-group d-flex flex-row">
			<div class="input-group">
				<input
					type="text"
					class="form-control"
					id="inlineFormInputGroup"
					placeholder="Enter email"
					onfocus="this.placeholder = ''"
					onblur="this.placeholder = 'Enter email'"
				/>
			</div>
			<a href="#" class="bbtns"><i class="lnr lnr-arrow-right"></i></a>
		</div>
		<div class="br"></div>
	</aside>
	<aside class="single_sidebar_widget post_category_widget">
		<h4 class="widget_title">Post Catgories</h4>
		<ul class="list cat-list">
			{% for tag in tags %}
			<li>
				<a
					href="{{ tag.get_absolute_url }}"
					class="d-flex justify-content-between"
				>
					<p>{{ tag.name }}</p>
					<p>{{ tag.total_posts }}</p>
				</a>
			</li>
			{% endfor %}
		</ul>
	</aside>
</div>
