{% extends 'accounts/admin/base.html' %}

{% block content %}
<div class="table-responsive">
    <table class="table">
        <thead class=" text-primary">
            <th>Title</th>
            <th>Author</th>
            <th class="text-right"></th>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{post.title}}</td>
                <td>{{post.author}}</td>
                <td class="text-right">
                    <a class="btn btn-info mr-2" href="{{post.get_edit_url}}">Edit</a>
                    <a class="btn btn-danger text-light" href="{{post.get_delete_url}}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}