{% extends 'base.html' %} {% block banner %}
<section class="home_banner_area">
	<div class="container">
		<div class="row">
			<div class="col-lg-5"></div>
			<div class="col-lg-7">
				<div class="blog_text_slider owl-carousel">
					{% for post in top_posts %}
					<div class="item">
						<div class="blog_text">
							<div class="cat">
								{% for tag in post.tags.all %}
								<a
									class="cat_btn text-center"
									href="{{ tag.get_absolute_url }}"
									>{{ tag }}</a
								>
								{% endfor %}
								<a href="#"
									><i class="fa fa-calendar" aria-hidden="true"></i>
									{{ post.pub_date.date }}</a
								>
								<a href="#"
									><i class="fa fa-comments-o" aria-hidden="true"></i>
									{{ post.total_comments }}</a
								>
							</div>
							<a href="{{ post.get_absolute_url }}"
								><h4>{{ post.title }}</h4></a
							>
							<p>
								{{ post.description }}
							</p>
							<a class="blog_btn" href="{{ post.get_absolute_url }}"
								>Read More</a
							>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %} {% block content %}
<div class="blog_left_sidebar">
	<div class="row">
		{% for post in posts %}
		<div class="col-md-6">
			<article class="blog_style1 small">
				<div class="blog_img">
					<img class="img-fluid" src="{{ post.thumbnail.url }}" alt="" />
				</div>
				<div class="blog_text">
					<div class="blog_text_inner">
						<div class="cat">
							{% for tag in post.tags.all %}
							<a
								class="cat_btn text-center"
								href="{{ tag.get_absolute_url }}"
								>{{ tag }}</a
							>
							{% endfor %}
							<a href="#"
								><i class="fa fa-calendar" aria-hidden="true"></i>
								{{ post.pub_date.date }}</a
							>
							<a href="#"
								><i class="fa fa-comments-o" aria-hidden="true"></i>
								{{ post.total_comments }}</a
							>
						</div>
						<a href="{{ post.get_absolute_url }}"
							><h4>{{ post.title }}</h4></a
						>
						<p>
							{{ post.description }}
						</p>
						<a class="blog_btn" href="{{ post.get_absolute_url }}">Read More</a>
					</div>
				</div>
			</article>
		</div>
		{% endfor %}
	</div>
	<nav class="blog-pagination justify-content-center d-flex">
		<ul class="pagination">
			{% if page_obj.has_previous %}
				<li class="page-item">
					<a href="?page={{ page_obj.previous_page_number }}" class="page-link" aria-label="Previous">
						<span aria-hidden="true">
							<span class="lnr lnr-chevron-left"></span>
						</span>
					</a>
				</li>
			{% endif %}
			
			{% for page in paginator.page_range %}
				<li {% if page == page_obj.number %}class="page-item active"{% else %} class="page-item" {% endif %}><a href="?page={{ page }}" class="page-link">{{page}}</a></li>
			{% endfor %}

			{% if page_obj.has_next %}
				<li class="page-item">
					<a href="?page={{ page_obj.next_page_number }}" class="page-link" aria-label="Next">
						<span aria-hidden="true">
							<span class="lnr lnr-chevron-right"></span>
						</span>
					</a>
				</li>
			{% endif %}
		</ul>
	</nav>
</div>
{% endblock %}
